<!DOCTYPE html>
<div id="id_leftBar">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
  rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
  integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
  <link rel="stylesheet" href="css/sectionStyle/leftBar.css">
    <!-- <img class="circle"> -->
  <div class="userArea">
    <div class="usernameArea">
      <div class="nicknameContainer">
        <div id="id_nickname">{{nickname}}</div>
      </div>
      <div class="login_outBtnContainer">
        <a id="id_login_outBtn" ng-click="login_out()">{{loginBtn}}</a>
      </div>
    </div>
    <div class="userProfile">
      <!-- <img id="userProfileImg" src="http://rs714.pbsrc.com/albums/ww144/akatsuki18_bucket/akatsuki/Akatsuki-10-1.jpg~c200" width="90" height="90"> -->
    </div>
  </div>
  <div class="userOptArea">
    <input id="id_postBtn" class="btn btn-default userOptBtn" type="button" value="post" ng-disabled="postBtnDisabled" ng-click="post()">
    <input id="id_userBtn" class="btn btn-default userOptBtn" type="button" value="user" ng-disabled="userMngBtnDisabled" ng-click="userManage()">
    <input id="id_topicBtn" class="btn btn-default userOptBtn" type="button" value="topic" ng-disabled="topicBtnDisabled" ng-click="topicManage()">
    <input id="id_accountBtn" class="btn btn-default userOptBtn" type="button" value="account" ng-disabled="accountBtnDisabled" ng-click="accountManage()">
  </div>
  <!-- <div class="filterArea">
  </div> -->
  <div class="topicNavArea">
    <ul class="nav nav-pills nav-stacked topicNav">
      <li role="presentation" ng-click="showAllpost()">
        <a id="topicSingleTabHome">
          Home
        </a>
      </li>
    </ul>
    <i id="id_topic_addBtn" class="glyphicon glyphicon-plus" style="font-size: 20px"
    ng-click="addTopic()" ng-hide="topicAddBtnHide"></i>
    <div ng-hide="topicAddUptInputHide">
      <input id="id_topicAddUptInput" type="text" class="form-control" aria-describedby="basic-addon1"
      ng-init="topicAddUptInputHide=true" ng-model="topicName">
      <i id="id_topicInputConfirmBtn" class="glyphicon glyphicon-ok" type="button" value="confirm" ng-click="inputConfirm()"></i>
    </div>
    <ul class="nav nav-pills nav-stacked topicNav">
      <li role="presentation" ng-repeat="topic in topics" ng-click="topicSelected_post(topic)">
        <a id="topicSingleTab">
          <i id="id_topic_delete" class="glyphicon glyphicon-trash topic_optBtn" style="font-size: 20px"
          ng-click="deleteTopic(topic);$event.stopPropagation()" ng-hide="topicOptBtnHide"></i>
            <i id="id_topic_update" class="glyphicon glyphicon-edit topic_optBtn" style="font-size: 20px"
            ng-click="updateTopic(topic);$event.stopPropagation()" ng-hide="topicOptBtnHide"></i>
          <span class="topicSingleTab_id">
            {{topic.topicid}}
          </span>
          {{topic.topicname}}
        </a>
      </li>
    </ul>
  </div>
</div>
